.DS_Store
**/.DS_Store


docs/build/*
docs/source/.DS_Store
docs/source/auto_examples/*
docs/source/generated/*
docs/source/gen_modules/*
docs/.DS_Store

__pycache__/*.pyc

ffrprep.egg-info/*

ffrprep/__pycache__/*

build/*

tests/__pycache__/*

.pytest_cache__/*

ffrprep/tests/__pycache__/*

__pycache__/*